# ── Miscellaneous ─────────────────────────────────────────────────────────────
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ── IDE ───────────────────────────────────────────────────────────────────────
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ── Flutter / Dart / Pub ──────────────────────────────────────────────────────
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# ── Android ───────────────────────────────────────────────────────────────────
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# ── iOS / macOS ───────────────────────────────────────────────────────────────
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig

# ── Symbolication / Obfuscation ───────────────────────────────────────────────
app.*.symbols
app.*.map.json
